/dts-v1/;
#include <dt-bindings/interrupt-controller/microchip,pic32mz-evic.h>
#include "pic32mzda-clk.dtsi"
#include "pic32mzda-pinctrl.dtsi"
#include "pic32mzda-uart.dtsi"

/ {
	#address-cells = <1>;
	#size-cells = <1>;
	compatible = "mti,pic32";
	model = "Microchip PIC32MZDA";
	interrupt-parent = <&evic>;

	aliases {
		usb1 = &usb1;
		usb1_phy = &usb1_phy;
	};

	cpus {
		cpu@0 {
			compatible = "mips,mips14KEc";
		};
	};

        memory {
                device_type = "memory";
                reg = <0x08000000 0x08000000>;
        };

	chosen {
		bootargs = "console=ttyS1,115200n8";
	};

	evic: interrupt-controller@bf810000 {
		compatible = "microchip,evic-v2";
		interrupt-controller;
		#interrupt-cells = <3>;
		reg = <0xbf810000 0x1000>;
		device_type="evic-v2";
	};

        /* 32-bit class-b timer */
        PBTIMER23:pbtimer23 {
                #timer-cells = <0>;
                compatible = "microchip,pic32-timer";
                reg = <0xbf840200 0x400>;
                interrupts = <TIMER3 DEFAULT_INT_PRI IRQ_TYPE_EDGE_RISING>;
                clocks = <&PBCLK3>, <&TxCKI>;
                timer-id = <2>;
                microchip,timer-32bit;   /* class B, 32-bit combined timer */
        };

        /* 16-bit class-b timer */
        PBTIMER4:pbtimer4 {
                #timer-cells = <0>;
                compatible = "microchip,pic32-timer";
                reg = <0xbf840600 0x200>;
                interrupts = <TIMER4 DEFAULT_INT_PRI IRQ_TYPE_EDGE_RISING>;
                clocks = <&PBCLK3>, <&TxCKI>;
                timer-id = <4>;
        };

	pic32_ether: ethernet@bf882000 {
		compatible = "microchip,pic32-ether";
		reg = <0xbf882000 0x1000>;
		interrupts = <ETHERNET_INTERRUPT DEFAULT_INT_PRI IRQ_TYPE_LEVEL_HIGH>;
		phy-mode = "rmii";
		mac-address = [00 00 00 00 00 00];
		clock-names = "eth_clk";
		clocks = <&PBCLK5>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_eth0>;
		reset-gpio = <&pioJ 15 0>;
		status = "ok";
	};

	dma: dma-controller@bf811000 {
		compatible = "microchip,pic32-dma";
		reg = <0xbf811000 0x2000>;
		interrupts = <DMA_CHANNEL_0 DEFAULT_INT_PRI IRQ_TYPE_EDGE_RISING>,
			<DMA_CHANNEL_1 DEFAULT_INT_PRI IRQ_TYPE_EDGE_RISING>,
			<DMA_CHANNEL_2 DEFAULT_INT_PRI IRQ_TYPE_EDGE_RISING>,
			<DMA_CHANNEL_3 DEFAULT_INT_PRI IRQ_TYPE_EDGE_RISING>,
			<DMA_CHANNEL_4 DEFAULT_INT_PRI IRQ_TYPE_EDGE_RISING>,
			<DMA_CHANNEL_5 DEFAULT_INT_PRI IRQ_TYPE_EDGE_RISING>,
			<DMA_CHANNEL_6 DEFAULT_INT_PRI IRQ_TYPE_EDGE_RISING>,
			<DMA_CHANNEL_7 DEFAULT_INT_PRI IRQ_TYPE_EDGE_RISING>;
		#dma-cells = <1>;
	};

        /* AHB:   base virtual address: 0xbf8e_0000 : _ffff
         * SDIOC: base virtual address:       _c000 : _cfff
         * ! Bus matrix - AHB address range.
         */
        sdhci@bf8ec000 {
                compatible = "microchip,pic32-sdhci";
                reg = <0xbf8ec000 0x100>;
                interrupts = <SDHC_EVENT DEFAULT_INT_PRI IRQ_TYPE_LEVEL_HIGH>;
                /* TODO?: bus width and Shared Bus configs. */
                /* change to SDHCLK */
                clocks = <&REFCLKO4>;
        };

	lcd0: fb@bf8ea000 {
                compatible = "microchip,pic32-lcd";
                reg = <0xbf8ea000 0x1000>;
		interrupts = <GLCD_INTERRUPT DEFAULT_INT_PRI IRQ_TYPE_EDGE_RISING>;
                status = "okay";
		bits-per-pixel = <32>;
		pic32,transp-length = <0>;
		pic32,red-offset = <16>;
		pic32,grayscale = <0>;

		display-timings {
			native-mode = <&timing0>;
			timing0: 480x272 {
				pixclock = <40000000>;
				clock-frequency = <40000000>;
				hactive = <480>;
				vactive = <272>;
				hfront-porch = <1>;
				hback-porch = <42>;
				hsync-len = <2>;
				vback-porch = <40>;
				vfront-porch = <21>;
				vsync-len = <23>;
			};
		};
	};

	usb1: usb@bf8e3000 {
		compatible = "microchip,pic32-usb";
		reg = <0xbf8e3000 0x1000>,
		      <0xbf884000 0x1000>;
		reg-names = "mc";
		interrupts = <USB_GENERAL_EVENT DEFAULT_INT_PRI IRQ_TYPE_LEVEL_HIGH>,
				<USB_DMA_EVENT DEFAULT_INT_PRI IRQ_TYPE_LEVEL_HIGH>;
		interrupt-names = "mc", "dma", "over_current";
		dr_mode = "host";
		mentor,multipoint = <1>;
		mentor,num-eps = <8>;
		mentor,ram-bits = <11>;
		mentor,power = <500>;
		phys = <&usb1_phy>;
		clocks = <&PBCLK5>;
		clock-names = "usb_clk";
		/*clock-frequency = <24000000>;*/
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_usb1_vbus>;

		/* VBUS_ON */
		vbus_on-gpios = <&pioB 5 0>;

		usb_overcurrent@0 {
			interrupt-parent = <&pioB>;
			interrupts = <11 PIC32_CN_FALLING>; /* GPIO_B_11 */
		};
	};
	usb1_phy: hsusb1_phy@0 {
		compatible = "usb-nop-xceiv";
		reg = <0xbf8e4000 0x1000>;
		clocks = <&UPLL>;
		clock-names = "main_clk";
		clock-frequency = <24000000>;
	};
};
