if MACH_PIC32

choice
	prompt "Machine Type"

config MIPS_PIC32MZ
	bool "PIC32MZ Starter Kit"
	select PIC32
	select BOOT_ELF32
	select BOOT_RAW
	select CEVT_R4K
	select CSRC_R4K
	select DMA_NONCOHERENT
	select IRQ_CPU
	select SYS_HAS_CPU_MIPS32_R2
	select SYS_HAS_CPU_NEVADA
	select SYS_HAS_EARLY_PRINTK
	select SYS_SUPPORTS_32BIT_KERNEL
	select SYS_SUPPORTS_LITTLE_ENDIAN
	select ARCH_SPARSEMEM_ENABLE
	select ARCH_REQUIRE_GPIOLIB
	select HAVE_MACH_CLKDEV
	select HAVE_MACH
	select COMMON_CLK
	select CLKDEV_LOOKUP
	select LIBFDT
	select USE_OF
	select PINCTRL
	select PINCTRL_PIC32
	select PINCTRL_PIC32MZ
	select SERIAL_PIC32
	select BUILTIN_DTB
	help
	  Microchip PIC32MZ Starter Kit.

	  A starter kit and Plan B development board combo that adds additional
	  SRAM over the EBI interface.

config MIPS_PIC32_EPLATFORM
	bool "PIC32 ePlatform"
	select PIC32
	select BOOT_ELF32
	select BOOT_RAW
	select CEVT_R4K
	select CSRC_R4K
	select DMA_NONCOHERENT
	select IRQ_CPU
	select SYS_HAS_CPU_MIPS32_R2
	select SYS_HAS_CPU_NEVADA
	select SYS_HAS_EARLY_PRINTK
	select SYS_SUPPORTS_32BIT_KERNEL
	select SYS_SUPPORTS_LITTLE_ENDIAN
	select ARCH_REQUIRE_GPIOLIB
	select HAVE_MACH_CLKDEV
	select HAVE_MACH
	select COMMON_CLK
	select CLKDEV_LOOKUP
	select LIBFDT
	select USE_OF
	select PINCTRL
	select PINCTRL_PIC32
	select PINCTRL_PIC32MZ
	select SERIAL_PIC32
	select BUILTIN_DTB
	help
	  Microchip PIC32 ePlatform.

	  An in-house simulation platform for development of future generations
	  of PIC32 platforms.

endchoice

config PIC32
	bool

config PIC32MZ_UPPER_MEMORY
	bool "Enable PIC32MZ Upper Memory Support"
	depends on MIPS_PIC32MZ
	help
	  PIC32MZ support for running XIP with more available SRAM over EBI in
	  KSEG2/KSEG3.

config PIC32MZ_ZBOOT
	bool "Enable PIC32MZ ZBOOT"
	depends on !PIC32MZ_UPPER_MEMORY && MIPS_PIC32MZ
	select SYS_SUPPORTS_ZBOOT
	select CONFIG_MAPPED_KERNEL
	help
	  PIC32MZ support for zboot which provides a decompressor to run XIP
	  from internal flash and run the kernel from mapped memory in
	  KSEG2/KSEG3.

choice
	prompt "PIC32MZ Daughter Card Type"
	depends on PIC32MZ_ZBOOT || PIC32MZ_UPPER_MEMORY

config PIC32MZ_PLANB
	bool "PIC32MZ With Plan B Board"
	help
	  PIC32MZ With Plan B Board

config PIC32MZ_PLANC
	bool "PIC32MZ With Plan C Board"
	help
	  PIC32MZ With Plan C Board

endchoice

endif # MACH_PIC32
